<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite" thread-count="2" parallel="classes">
	
  <test  name="ModuleOneTest">

    <classes>
      <class name="parallelScripts.SampleOneTest"/>
    </classes>
  </test> <!-- ModuleOneTest -->
  
  <test  name="ModuleTwoTest">

    <classes>
      <class name="parallelScripts.SampleThreeTest"/>
    </classes>
  </test> 
</suite> <!-- SampleSuite -->
<!--TestSuite -> Tests -> Test Cases -> Test Methode -->